<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<button id="btn">点我</button>
		<script>
			var btn=document.getElementById('btn');
			//this丢失问题
//			btn.onclick=function(){
//				console.log(1,this);
//			}
//			var btnClick=btn.onclick||function(){};
//			btn.onclick=function(){
//				btnClick();
//				console.log(2,this)
//			}
			//解决this丢失方式1
			btn.onclick=function(){
				console.log(1,this);
			}
			var btnClick=btn.onclick||function(){};
			btn.onclick=function(){
				btnClick.apply(this,arguments);
				console.log(2,this)
			}
		</script>
	</body>
</html>
